{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            },
        ],
        "@babel/typescript",
        "@babel/preset-react",
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "inline-react-svg",
        "babel-plugin-styled-components",
    ],
    "exclude": "node_modules/**",
}
