.root {
    display: grid;
    grid-gap: 3rem 0.2rem;
    grid-template-columns: repeat(12, 1fr);

    @media (--large-screen) {
        grid-gap: 3rem 0.5rem;
    }
}

.item {
    composes: root from '../ProductItem/ProductItem.css';

    @media (--small-screen-only) {
        grid-column-end: span 6;

        &:nth-child(3n + 1) {
            grid-column-end: span 12;
        }
    }

    @media (--medium-screen-only) {
        grid-column-end: span 6;

        &:nth-child(3n + 1) {
            grid-column-end: span 12;
        }
    }

    @media (--large-screen-only) {
        grid-column-end: span 4;

        &:nth-child(5n + 1),
        &:nth-child(5n + 2) {
            grid-column-end: span 6;
        }
    }

    @media (--xlarge-screen) {
        grid-column-end: span 3;

        &:nth-child(7n + 1),
        &:nth-child(7n + 2),
        &:nth-child(7n + 3) {
            grid-column-end: span 4;
        }
    }
}
