.root {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-primary25);
    padding: 0.3rem;
    transition: all 305ms ease;

    &.disabled {    
        filter: opacity(30%) contrast(80%);
    }

    &.active {
        border-color: var(--color-primary);
    }

    &:hover:not(.disabled) {
        border-color: var(--color-primary75);
    }
}

.title {
    text-align: center;
}

.image {
    composes: root from '../Image/Image.css';
    
    background-color: white;
    border-radius: 0.5rem;
    display: block;
    overflow: hidden;
    overflow: hidden;
}

.imageTag {
    composes: root from '../Image/Image.css';

    height: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 100%;               
}           
