/* 
    Theme Color System
*/

:root {
    /** Global styles */

    background: var(--color-background);
    color: var(--color-on-background);

    a {
        color: var(--color-link);

        &:hover {
            color: var(--color-link--hover);
        }
    }
}

.color-surface {
    background: var(--color-surface);
    color: var(--color-on-surface);
}

.color-background {
    background: var(--color-background);
    color: var(--color-on-background);
}

.color-primary {
    background: var(--color-primary);
    color: var(--color-on-primary);
}

.color-secondary {
    background: var(--color-secondary);
    color: var(--color-on-secondary);
}

.color-accent {
    background: var(--color-accent);
    color: var(--color-on-accent);
}

.color-error {
    background: var(--color-error);
    color: var(--color-on-error);
}

.color-warning {
    background: var(--color-warning);
    color: var(--color-on-warning);
}

.color-notice {
    background: var(--color-notice);
    color: var(--color-on-notice);
}
