.root {
    background-color: #333;
    border-radius: 1rem;
    color: white;
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    padding: 1.5rem;
    position: relative;
    width: 100%;
}

.root::after {
    color: #fff;
    content: "2x🖱";
    font-size: 2rem;
    opacity: 0;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px 0 #000;
    top: 10px;
}

.root.success::after {
    content: "👍";
    opacity: 1;
}

.root.error::after {
    content: "💩";
    opacity: 1;
}

.root:hover::after {
    opacity: 1;
}

.pre {
    overflow-x: auto;
}

.source {
    line-height: 1.5;
}

.label {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: -5px;
    text-transform: uppercase;
    color: #bbb;
}
