@import "/utilities.less";

.tab-bar {
    .grid();
    .grid.auto();

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    bottom: 0;
    box-shadow: -1/@px 0 5/@px rgba(0, 0, 0, 0.1);
    grid-area: primary;
    left: 0;
    position: fixed;
    right: 0;

    &::before {
        .bg-opacity();
        content: "";
    }
}

/**
 * TabBarLink
 */
 .tab-bar-link {
    align-items: center;
    border-top: 2/@px solid transparent;
    display: flex;
    filter: contrast(0%);
    flex-direction: column;
    justify-content: center;
    padding: 10/@px;
    text-decoration: none;

    &--active {
        border-color: var(--color-primary);
        filter: contrast(100%);
    }
}
