@import "/utilities.less";

/**
 * Toolbar
 */
.toolbar {
    box-sizing: border-box;
    min-height: 60/@px;
    padding: 0 var(--padding);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    transition: transform 402ms ease, opacity 305ms ease;

    &::before {
        .bg-opacity();
        content: "";
    }

    &--hidden {
        opacity: 0;
        transform: translateY(-100%);
    }

    &__content {
        .container();
        display: flex;   
        align-items: center;
    }
}
