@import "/utilities.less";

/**
 * Toolbar
 */
.toolbar {
    .container();
    .grid();

    grid-template-areas: 'logo primary secondary';
    grid-template-columns: auto 1fr auto;

    align-items: center;
    box-sizing: border-box;
    min-height: 60/@px;
    padding-bottom: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    transition: transform 402ms ease, opacity 305ms ease;

    &::before {
        .bg-opacity();
        content: "";
    }
    
    &__logo {
        grid-area: logo;
        margin: 0;
        line-height: 0;
        
        &__image {
            width: 120/@px;
            max-height: 30/@px;
        }
    }
    
    &--hidden {
        opacity: 0;
        transform: translateY(-100%);
    }
}


/**
 * ToolbarActions
 */

.toolbar-actions {
    .grid();
    .grid.fluid();

    --gap: 1.5rem;

    align-items: center;
    font-size: 14/@px;

    a {
        text-decoration: none;
    }

    &--primary {
        justify-content: center;
        grid-area: primary;
    }

    &--secondary {
        grid-area: secondary;
    }
}
