@import "/utilities.less";

/**
 * Toolbar
 */
.toolbar {
    .grid();

    grid-template-areas: 'logo nav secondary';
    grid-template-columns: auto 1fr auto;

    align-items: center;
    border-bottom: 1px solid #eee;
    box-shadow: 1/@px 0 5/@px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 55/@px;
    left: 0;
    padding: 0 var(--gutter-unit);
    position: fixed;
    right: 0;
    top: 0;

    &::before {
        .bg-opacity();
        content: "";
    }
}

.toolbar__logo {
    grid-area: logo;
    margin: 0;

    svg {
        width: 120/@px;
        max-height: 30/@px;
    }
}

/**
 * ToolbarLink
 */
.toolbar-link {
    text-decoration: none;
}

.toolbar-link__icon {
    display: inline-block;
    position: relative;
    margin-bottom: 2/@px;
}

.toolbar-link__label {
    display: none;
}

.toolbar-link__count {
    position: absolute;
    left: 110%;
    top: 0;
    font-size: 13/@px;

    &--over::before {
        content: "+";
        font-size: 90%;
        font-style: italic;
        padding-right: 0.1rem;
    }
}

/**
 * ToolbarActions
 */
.toolbar-actions--primary {
    .grid();
    .grid.auto();
    border-top: 1px solid #eee;
    bottom: 0;
    box-shadow: -1/@px 0 5/@px rgba(0, 0, 0, 0.1);
    grid-area: primary;
    left: 0;
    position: fixed;
    right: 0;

    &::before {
        .bg-opacity();
        content: "";
    }

    .toolbar-link {
        align-items: center;
        border-top: 2/@px solid transparent;
        display: flex;
        filter: contrast(0%);
        flex-direction: column;
        justify-content: center;
        padding: 10/@px;

        &--active {
            border-color: var(--color-primary);
            filter: contrast(100%);
        }
    }

    .toolbar-link__label {
        display: inline-block;
        font-size: 11/@px;
        font-weight: 600;
    }
}


/**
 * ToolbarPrimary
 */
.toolbar-actions--secondary {
    .grid();
    .grid.fluid();
    --gap: 1.2rem;
    grid-area: secondary;
}

/**
 * ToolbarNav
 */
 .toolbar-actions--nav {
     .grid();
     .grid.fluid();

    display: none;
    grid-area: nav;
}
