.root {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr auto auto;
}

/** Header */
.header {
    composes: root from "../Header/Header.css";

    @media (--small-screen-only) {
        grid-template-areas: "logo utilities";
    }
}

.headerLogo {
    composes: logo from "../Header/Header.css";

    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 2;

    & svg {
        height: 3rem;
    }
}

.headerMenu {
    composes: menu from "../Header/Header.css";

    @media (--small-screen-only) {
        display: none;
    }
}

.headerUtilities {
    composes: utilities from "../Header/Header.css";

    /* Hide Search and Cart on Mobile */
    & *:nth-child(3),
    & *:nth-child(4)
     {
        @media (--small-screen-only) {
            display: none;
        }
    }
}

/** Main */
.main {
    box-sizing: border-box;
    position: relative;
}

/** Footer */

/** TabBar */
.tabBar {
    composes: root from "../TabBar/TabBar.css";

    position: sticky;
    bottom: 0;
    z-index: 2;

    @media (--medium-screen) {
        display: none;
    }
}
