
 .root {
    overflow-y: hidden;
}

.wrapper {
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1rem;
    overflow-x: scroll;

    padding: 0 0 1rem;
    margin-bottom: -1rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

 .item {
    background-color: var(--color-surface);
    border-radius: 1rem;
    border: 0.1rem solid var(--color-on-surface15);
    color: var(--color-on-surface);
    font-weight: 600;
    padding: 1rem 1.4rem;
    transition: border 0.5s ease-out;

    &:not([disabled]):hover {
        border-color: var(--color-on-surface);
    }
}
.itemWrapper {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1rem;
}

.itemCount {
    color: var(--color-on-surface75);
    font-size: 0.9em;
    font-weight: 400;
}
