@import "/utilities.less";

.icon {
    align-items: center;
    color: inherit;
    display: inline-flex;
    flex-direction: column;
    font-size: inherit;
    &__svg svg {
        width: auto;
        height: 1em;
        * {            
            fill: none;
            stroke: currentColor;
        }
    }
    
    &__wrapper {
        position: relative;
    }

    &__label {
        font-size: 0.45em;
        color: inherit;
        font-weight: 600;
        margin-top: 5/@px;
        text-overflow: ellipsis;
    }

    &__count {
        border-radius: 0.2em;
        color: inherit;
        left: 100%;
        padding: 0.3em;
        position: absolute;
        top: -0.5em;
        font-size: 0.5em;

        &--over::before {
            content: "+";
            font-size: 90%;
            font-style: italic;
            padding-right: 0.1rem;
        }
    }

}
