.root {
    align-items: center;
    color: inherit;
    display: inline-flex;
    flex-direction: column;
    font-size: inherit;
    line-height: 0;
}

.svg svg {
    fill: currentColor;
    height: 1em;
    width: auto;
}

.wrapper {
    position: relative;

    &.hasCount {
        margin-right: 0.4em;
    }
}

.label {
    color: inherit;
    font-size: 0.5em;
    font-weight: 600;
    text-overflow: ellipsis;
    line-height: 1.1;
    margin-top: 0.6rem;

    &.hasCount {
        padding-right: 0.9em;
    }
}

.count {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 0.5em;
    justify-content: center;
    left: calc(100% + 0.2em);
    position: absolute;
    top: -0.3em;
}
