.theme {
    --color-background: #ffffff;
    --color-on-background: #222222;

    --color-surface: rgba(255, 255, 255, 1);
    --color-surface75: rgba(255, 255, 255, 0.75);
    --color-surface50: rgba(255, 255, 255, 0.5);
    --color-surface25: rgba(255, 255, 255, 0.25);
    --color-surface15: rgba(255, 255, 255, 0.15);
    --color-on-surface: rgba(34, 34, 34, 1);
    --color-on-surface75: rgba(34, 34, 34, 0.75);
    --color-on-surface50: rgba(34, 34, 34, 0.5);
    --color-on-surface25: rgba(34, 34, 34, 0.25);
    --color-on-surface15: rgba(34, 34, 34, 0.15);

    --color-primary: rgba(17, 17, 17, 1);
    --color-primary75: rgba(17, 17, 17, 0.75);
    --color-primary50: rgba(17, 17, 17, 0.5);
    --color-primary25: rgba(17, 17, 17, 0.25);
    --color-primary15: rgba(17, 17, 17, 0.15);
    --color-on-primary: rgba(255, 255, 255, 1);
    --color-on-primary75: rgba(255, 255, 255, 0.75);
    --color-on-primary50: rgba(255, 255, 255, 0.5);
    --color-on-primary25: rgba(255, 255, 255, 0.25);
    --color-on-primary15: rgba(255, 255, 255, 0.15);

    --color-secondary: rgba(250, 250, 250, 1);
    --color-secondary75: rgba(250, 250, 250, 0.75);
    --color-secondary50: rgba(250, 250, 250, 0.5);
    --color-secondary25: rgba(250, 250, 250, 0.25);
    --color-secondary15: rgba(250, 250, 250, 0.15);
    --color-on-secondary: rgba(33, 33, 33, 1);
    --color-on-secondary75: rgba(33, 33, 33, 0.75);
    --color-on-secondary50: rgba(33, 33, 33, 0.5);
    --color-on-secondary25: rgba(33, 33, 33, 0.25);
    --color-on-secondary15: rgba(33, 33, 33, 0.15);

    --color-accent: rgba(161, 74, 36, 1);
    --color-accent75: rgba(161, 74, 36, 0.75);
    --color-accent50: rgba(161, 74, 36, 0.5);
    --color-accent25: rgba(161, 74, 36, 0.25);
    --color-accent15: rgba(161, 74, 36, 0.15);
    --color-on-accent: rgba(250, 250, 250, 1);
    --color-on-accent75: rgba(250, 250, 250, 0.75);
    --color-on-accent50: rgba(250, 250, 250, 0.5);
    --color-on-accent25: rgba(250, 250, 250, 0.25);
    --color-on-accent15: rgba(250, 250, 250, 0.15);

    --color-error: #ffffff;
    --color-on-error: #ef5350;

    --color-warning: #ffffff;
    --color-on-warning: #f57c00;

    --color-notice: #ffffff;
    --color-on-notice: #039be5;
}

/* Dark Mode Colors */
.dark {
    --color-background: #222222;
    --color-on-background: #ffffff;

    --color-surface: rgba(34, 34, 34, 1);
    --color-surface75: rgba(34, 34, 34, 0.75);
    --color-surface50: rgba(34, 34, 34, 0.5);
    --color-surface25: rgba(34, 34, 34, 0.25);
    --color-surface15: rgba(34, 34, 34, 0.15);
    --color-on-surface: rgba(255, 255, 255, 1);
    --color-on-surface75: rgba(255, 255, 255, 0.75);
    --color-on-surface50: rgba(255, 255, 255, 0.5);
    --color-on-surface25: rgba(255, 255, 255, 0.25);
    --color-on-surface15: rgba(255, 255, 255, 0.15);

    --color-primary: rgba(255, 255, 255, 1);
    --color-primary75: rgba(255, 255, 255, 0.75);
    --color-primary50: rgba(255, 255, 255, 0.5);
    --color-primary25: rgba(255, 255, 255, 0.25);
    --color-primary15: rgba(255, 255, 255, 0.15);
    --color-on-primary: rgba(17, 17, 17, 1);
    --color-on-primary75: rgba(17, 17, 17, 0.75);
    --color-on-primary50: rgba(17, 17, 17, 0.5);
    --color-on-primary25: rgba(17, 17, 17, 0.25);
    --color-on-primary15: rgba(17, 17, 17, 0.15);

    --color-secondary: rgba(33, 33, 33, 1);
    --color-secondary75: rgba(33, 33, 33, 0.75);
    --color-secondary50: rgba(33, 33, 33, 0.5);
    --color-secondary25: rgba(33, 33, 33, 0.25);
    --color-secondary15: rgba(33, 33, 33, 0.15);
    --color-on-secondary: rgba(250, 250, 250, 1);
    --color-on-secondary75: rgba(250, 250, 250, 0.75);
    --color-on-secondary50: rgba(250, 250, 250, 0.5);
    --color-on-secondary25: rgba(250, 250, 250, 0.25);
    --color-on-secondary15: rgba(250, 250, 250, 0.15);

    --color-accent: rgba(161, 74, 36, 1);
    --color-accent75: rgba(161, 74, 36, 0.75);
    --color-accent50: rgba(161, 74, 36, 0.5);
    --color-accent25: rgba(161, 74, 36, 0.25);
    --color-accent15: rgba(161, 74, 36, 0.15);
    --color-on-accent: rgba(250, 250, 250, 1);
    --color-on-accent75: rgba(250, 250, 250, 0.75);
    --color-on-accent50: rgba(250, 250, 250, 0.5);
    --color-on-accent25: rgba(250, 250, 250, 0.25);
    --color-on-accent15: rgba(250, 250, 250, 0.15);

    --color-error: #ef5350;
    --color-on-error: #ffffff;

    --color-warning: #f57c00;
    --color-on-warning: #ffffff;

    --color-notice: #039be5;
    --color-on-notice: #ffffff;
}
