.color-swatch {
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.4rem #ccc;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    box-sizing: border-box;
}

.color-swatch__info {
    justify-self: flex-end;
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    width: 100%;
}

.color-swatch_title {
    font-family: var(--font-family-heading);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding: 0 0.75rem;
    text-transform: uppercase;
}

.color-swatch__value {
    display: block;
    padding: 0.5rem 1rem;
}

.color-swatch__value .token {
    color: inherit;
    font-style: italic;
}
