.root {
    display: grid;
    grid-gap: 8rem;
}

.carousel {
    composes: root from "../../components/Carousel/Carousel.css";
}

.carouselItem {
    composes: item from "../../components/Carousel/Carousel.css";
}

.image {
    composes: root from "../../components/Image/Image.css";

    display: block;
    width: 100%;

    & > img {
        width: 100%;
    }
}

.wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(max-content, max-content);
    grid-gap: 1rem;
}

.info {
    display: grid;
    grid-gap: 3rem;
}

.header {
    display: grid;
    grid-gap: 1.6rem;
    grid-auto-rows: max-content;
}

.breadcrumbs {
    composes: root from "../../components/Breadcrumbs/Breadcrumbs.css";

    font-size: 1.4rem;
    color: var(--color-on-surface75);
}

.price {
    composes: root from "../../components/Price/Price.css";
}

.sku {
    font-size: 0.85em;
    color: var(--color-on-surface75);
}

.swatches {
    display: grid;
    grid-gap: 1rem;
}

.swatchesTitle {
    font-size: 1.6rem;
}

.buttons {    
    display: grid;
    grid-gap: 1rem;
}

.assembler {
    composes: root from "../../components/Assembler/Assembler.css";

    z-index: 1;
}

@media (--small-screen-only) {
    .wrapper {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: 1fr;
    }

    .images {
        position: sticky;
        top: 0;
        z-index: 0;
    }

    .carousel {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }

    .infoWrapper {
        background-color: var(--color-surface);
        border-radius: 1rem 1rem 0 0;
        box-shadow: 0 -0.5rem 0.3rem rgba(0, 0, 0, 0.05);
        color: var(--color-on-surface);
        left: 50%;
        margin-left: -50vw;
        margin-top: -2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        position: relative;
        width: 100vw;
        z-index: 1;

        /**
            Needed to fix this Safari bug
            https://css-tricks.com/forums/topic/safari-for-ios-z-index-ordering-bug-while-scrolling-a-page-with-a-fixed-element/
        */
        -webkit-transform: translate3d(0, 0, 0);

       
    }
}

@media (--medium-screen) {
    .wrapper {
        display: grid;
        grid-auto-rows: max-content;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        padding-top: 2rem;
    }

    .carousel {
        grid-gap: 0.5rem;
        grid-auto-flow: row;
        grid-template-columns: repeat(1, 1.5fr);
        overflow: unset;
    }

    .info {
        background-color: var(--color-surface);
        border-radius: 2rem;
        color: var(--color-on-surface);
        padding: 2rem;
        position: sticky;
        top: 2rem;
    }
}

@media (--large-screen) {
    .wrapper {
        grid-template-columns: 1.5fr 1fr;
    }

    .carousel {
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
    }
}
