@import "/utilities";

.bubble-carousel {
    .grid();
    .grid.fluid();

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    // Trick to pad an overflown grid 🤷‍
    margin: 0 var(--padding);
    padding: var(--padding) 0;
  
    &::-webkit-scrollbar {
        display: none;
    }

    &__item {
        --size: 70;
        --sizeRem: calc(var(--size) * 1rem/@font-base);
        align-items: center;
        color: var(--color-on-surface);
        display: inline-flex;
        flex-direction: column;
        flex: 0 0 auto;

        &__image.image {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        &__image__picture.image__picture {
            background-color: var(--color-surface);
            border-radius: 50%;
            border: 2px solid var(--border-color);
            display: inline-block;
            height: var(--sizeRem);
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            width: var(--sizeRem);
        }

        &__image__caption.image__caption {
            font-size: 12/@px;
            margin-top: 10/@px;
            overflow: hidden;
            padding: 0;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(var(--sizeRem) + 14px);
        }


    }

    [href] {
        text-decoration: none;
    }

}
