@import 'utilities';

.hot-spot {
    --size: 30/@px;
    --bottom: unset;
    --left: var(--cords-x);
    --right: unset;
    --top: calc(var(--cords-y) + var(--size) + 1.2rem);

    &--right {
        --left: unset;
        --right: calc(100% - var(--cords-x) - var(--size));
    }

    &--bottom {
        --bottom: calc(100% - var(--cords-y) + 1.2rem);
        --top: unset;
    }

    &--open {
        --size: 30/@px;
    }
}

.hot-spot__button {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: var(--size);
    height: var(--size);
    justify-content: center;
    left: var(--cords-x);
    position: absolute;
    top: var(--cords-y);
    transition: all 200ms ease;
    width: var(--size);

    &:focus {
        outline: 0;
        &::after {
            border-color: rgba(255, 255, 255, 0.75);
        }
    }

    &::after {
        background-color: var(--color-primary);
        border-radius: 50%;
        border: 0.1em solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10/@px rgba(0, 0, 0, 0.3);
        content: "";
        height: inherit;
        position: absolute;
        transition-duration: 200ms;
        transition-property: all;
        transition-timing-function: ease-in-out;
        width: inherit;
        z-index: 2;
    }

    &--open::after {
        background-color: var(--color-on-primary);
    }

    &:not(&--open)::before {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: hotspot__animation--pulsate;
        animation-timing-function: ease-out;
        background-color: var(--color-primary);
        border-radius: 50%;
        content: "";
        height: inherit;
        opacity: 0;
        position: absolute;
        transform-origin: center;
        width: inherit;
        z-index: 1;
    }

    &:not(&--open):hover::after {
        transform: scale(1.1);
    }
}


.hot-spot__button__icon {
    fill: var(--color-on-primary);
    height: calc(var(--size) / 2.5);
    position: relative;
    width: calc(var(--size) / 2.5);
    transform-origin: center;
    transition: transform 250ms ease;
    z-index: 3;

    &--open {
        fill: var(--color-primary);
        transform: rotate(45deg);
    }
    
}

.hot-spot__content {
    align-items: center;
    background-color: var(--color-surface);
    bottom: var(--bottom);
    box-shadow: 0 0 30/@px rgba(0, 0, 0, 0.5);
    color: var(--color-on-surface);
    display: flex;
    justify-content: center;
    left: 0;
    padding: 20/@px;
    position: absolute;
    right: 0;
    top: var(--top);

    @media @medium-screen {
        left: var(--left);
        right: var(--right);
    }

    &--open {
        z-index: 2;
    }

    &.css-transition {
        opacity: 0.1;
        transform-origin: center;
        transform: scale(0.9);
        transition-duration: var(--transition-duration);
        transition-property: opacity transform;
        transition-timing-function: ease-in;

        &--active {
            opacity: 1;
            transform: scale(1);
            transition-timing-function: ease-out;
        }
    }
}

/** Animations */

@keyframes hotspot__animation--pulsate {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    20%,
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
