/* Adobe Fonts */
@import url("https://use.typekit.net/ssh7gal.css");

/* Global CSS */
hr {
    border-bottom: 1px dashed #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: var(--gutter-unit) 0;
}


.global-welcome__buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.global-welcome__buttons > * {
    padding: 1rem;
}
