@import "https://use.typekit.net/ssh7gal.css";

/* Global CSS */
hr {
    border-bottom: 1px dashed #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 20px 0;
}

hr.or {
    display: relative;
}

hr.or:after {
    content: "or";
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-style: italic;
    top: 50%;

}

.story--padded {
    padding: 3rem;
}
