.root {
    display: grid;
    grid-gap: 4rem;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
}

.group {
    display: grid;
    grid-gap: 1.6rem;
}

.groupWrapper {
    height: auto;
    max-height: var(--height, auto);
    overflow-y: hidden;
    transition: max-height var(--transition-duration) ease;
}

.groupList {
    display: grid;
    grid-gap: 1.4rem;
}

.groupLabel {
    font-size: 1.8rem;
    font-weight: 600;
}

.groupToggle {
    align-items: center;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    filter: opacity(0.75);
    font-size: 1em;
}

.groupToggleIcon {
    fill: currentColor;
    height: 0.8em;
    margin-right: 0.5rem;
    transition: transform var(--transition-duration) ease;
    width: 0.8em;

    &.groupToggleIconOpen {
        transform: rotate(180deg);
    }
}

.groupItem {
    align-items: center;
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1rem;
    font-size: 1.5rem;

    &:hover .groupItemCheck {
        opacity: 0.25;
    }
}

.groupItemCheck {
    fill: currentColor;
    opacity: 0.1;
    transition: opacity 305ms ease;
    width: 1em;

    &.groupItemCheckActive {
        opacity: 1;
    }
}

.groupItemCount {
    filter: opacity(0.45);
    font-size: 0.9em;
}
