.root {
    display: inline-flex;
    line-height: 0;
}

.wrapper {
    position: relative;
    display: inherit;
    line-height: 0;

    &.error {
        opacity: 0.5;
    }

    &.vignette::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 10rem var(--vignette) rgba(0, 0, 0, 0.15);
    }
}

.tag {
    min-height: 100%;
    object-fit: cover;
    object-position: center;    
    position: absolute;

    &.transition {
        filter: blur(30px) opacity(0%);
        transition: filter 305ms ease-out;
    }

    &.loaded {
        filter: blur(0) opacity(100%);
    }
}

.placeholder {
    background: linear-gradient(-45deg, var(--color-on-surface25), var(--color-on-surface15));
    background-size: 300%;
}

.image {
    max-width: 100%;
}

.errorIcon {
    color: primary50;
    fill: currentColor;
    font-size: 3rem;
    height: 1em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
}
