.banner {
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    border-style: none;
    border-width: 1px;
    min-height: 60rem;
    padding: 4rem;
    text-align: center;
}

.banner__cta {
    opacity: 1;
    visibility: visible;
}
